*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:aquamarine;
}

.nadBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20xp;
    text-decoration: none;
    
    

}